/*GENERAL*/
html, body {
  width: 100%;
}

/*VARIABLES*/
:root {
  --primary-color: #9356dc;
  --background: #F6F6F6;
  --grey: #353535;
  --grey2: #EAEAEA;
  --grey-tint-4: #7e7e7e;
  --green: #99E2d0;
  --green-font: #008766;
  --white: #fff;
  --pink-gradient: linear-gradient(#FF79DA -27%, var(--primary-color) 123.93%);
  --inversed-pink-gradient: linear-gradient(var(--primary-color) -27%, #FF79DA 123.93%);
}

/*TYPOGRAPHIE*/
@font-face {
  font-family: "Shrikhand";
  src: url("../font/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../font/Shrikhand/Shrikhand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Light.woff2") format("woff2"), url("../font/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
}

/*CSS RESET*/
body, div, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* ANIMATIONS */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappearing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    visibility: hidden;
  }
  100% {
    transform: scale(0);
    visibility: hidden;
  }
}
@keyframes arrivee-entrees {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrivee-plats {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrivee-desserts {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* BUTTONS */
.btn {
  width: 186px;
  height: 50px;
  text-align: center;
  margin: 27px 0 57px;
  background: var(--pink-gradient);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: 1px 5px 11px 1px rgba(0, 0, 0, 0.25);
}

.btn:hover:not(:hover) {
  filter: brightness(0);
}

.first-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
}

/*ICONES*/
.location-icon {
  color: var(--grey);
}

.steps-icon {
  color: var(--grey-tint-4);
}

.store-icon {
  color: var(--primary-color);
}

.footer-icon {
  color: white;
}

.fa-arrow-left {
  color: var(--grey);
  font-size: 20px;
}

.hearts-wrap {
  position: relative;
  width: 23px;
  height: 23px;
}
.hearts-wrap:hover .second-heart {
  font-weight: 800;
  background: var(--inversed-pink-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hearts-wrap:hover .first-heart {
  opacity: 0;
}
.hearts-wrap .fa-heart {
  font-size: 23px;
  color: black;
}
.hearts-wrap .first-heart {
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
}

.fa-circle-check {
  color: white;
  font-size: 20px;
}

.footer-icon {
  font-size: 13px;
}

/*HEADER*/
header .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
header .logo-header {
  width: 162px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .go-back {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--grey);
  color: var(--white);
  padding: 22px 25px 22px 25px;
}
footer .footer-logo img {
  width: 100px;
  filter: invert(100%);
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-links li {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
}
footer .footer-links .lien-action {
  display: flex;
  gap: 10.08px;
  font-weight: 500;
  width: 190px;
}
footer .footer-links .lien-info {
  font-weight: 400;
  width: 130px;
}
footer a {
  text-decoration: none;
  font-style: normal;
  color: var(--white);
}
footer a:visited {
  color: var(--white);
}

/*HOME*/
section {
  width: 100%;
}

/*TITLES-SECTION*/
.title-section {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section .location-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--grey2);
  justify-content: center;
}
.title-section .location-wrapper .location {
  display: flex;
  flex-direction: row;
  gap: 17px;
  height: 100%;
  align-items: center;
}
.title-section .location-wrapper .location .txt-location {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--grey);
  display: flex;
  align-items: center;
}
.title-section h1 {
  width: 73%;
  height: 68px;
  margin-top: 39px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.title-section p {
  width: 84%;
  height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: var(--grey);
}

/*SECTION FONCTIONNEMENT*/
.fonctionnement {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}
.fonctionnement .fonctionnement-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
  align-items: center;
}
.fonctionnement .fonctionnement-wrapper h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 48px 0 26px;
  width: 335px;
}
.fonctionnement .fonctionnement-wrapper .steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement .fonctionnement-wrapper .step {
  display: flex;
  flex-direction: row;
  gap: 23px;
  width: 335px;
  height: 72.38px;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .fonctionnement-wrapper .step .number-step {
  display: flex;
  background-color: var(--primary-color);
  height: 24px;
  width: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-left: -12px;
}
.fonctionnement .fonctionnement-wrapper .step p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

/*RESTAURANTS*/
.restaurants {
  display: flex;
  justify-content: center;
  height: 1226px;
  background-color: var(--background);
  font-family: "Roboto";
}
.restaurants .restaurants-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.restaurants .restaurants-wrapper h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 48px 0 23px;
  width: 340px;
}
.restaurants .restaurants-wrapper .cards-wrapper {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.restaurants .restaurants-wrapper .cards-wrapper a {
  width: 100%;
  text-decoration: none;
}
.restaurants .restaurants-wrapper .card {
  position: relative;
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.restaurants .restaurants-wrapper .card .badge {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 13px;
  right: 17.29px;
  display: flex;
  background-color: var(--green);
  color: var(--green-font);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}
.restaurants .restaurants-wrapper .card .img-restaurants {
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants-wrapper .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 77px;
  padding-left: 16px;
  border-radius: 0 0 15px 15px;
}
.restaurants .restaurants-wrapper .card .card-content .card-text {
  color: black;
}
.restaurants .restaurants-wrapper .card .card-content .card-text h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.restaurants .restaurants-wrapper .card .card-content .card-text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
.restaurants .restaurants-wrapper .card .card-content .heart {
  padding-right: 25px;
}

/*LOADER*/
.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--grey2);
  z-index: 5;
  animation: disappearing 3s forwards;
}
.loader .loader-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: white;
  font-family: "Roboto";
  background-image: var(--pink-gradient);
  background-clip: padding-box, border-box;
  border-radius: 75px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  animation: pulse 2s infinite;
}

/* MENUS */
.img-page-restaurant img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-wraper {
  display: flex;
  justify-content: center;
  margin-bottom: -55px;
}
.menu-wraper .menu {
  position: relative;
  top: -55px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1055px;
  border-radius: 25px 25px 0 0;
  background-color: var(--background);
  align-items: center;
  padding-top: 35px;
}
.menu-wraper .menu .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 307px;
  font-family: Shrikhand;
}
.menu-wraper .menu .menu-title h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
}
.menu-wraper .menu .menu-title .heart {
  display: flex;
  align-items: center;
}
.menu-wraper .menu .menu-element {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 349px;
  max-width: 634px;
  font-family: "Roboto";
}
.menu-wraper .menu .menu-element .titre-niveau {
  position: relative;
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 19px;
}
.menu-wraper .menu .menu-element .titre-niveau::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 27px;
  border-bottom: solid 3px var(--green);
}
.menu-wraper .menu .menu-element .menu-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}
.menu-wraper .menu .menu-element .menu-card-wrapper:hover .check {
  visibility: visible;
  width: 59px;
}
.menu-wraper .menu .menu-element .menu-card-wrapper:hover .price {
  right: 50px;
}
.menu-wraper .menu .menu-element .menu-card-wrapper:hover .coupure {
  display: inline;
}
.menu-wraper .menu .menu-element .menu-card-wrapper:hover .txt-coupure {
  display: none;
}
.menu-wraper .menu .menu-element .menu-card-wrapper .carte-plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 69px;
  border-radius: 15.04px;
  background-color: var(--white);
  padding: 0 15px 0 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.menu-wraper .menu .menu-element .menu-card-wrapper .carte-plat .carte-plat-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.menu-wraper .menu .menu-element .menu-card-wrapper .carte-plat .price {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.menu-wraper .menu .menu-element .menu-card-wrapper .coupure {
  display: none;
}
.menu-wraper .menu .menu-element .menu-card-wrapper .check {
  visibility: hidden;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 0 15.04px 15.04px 0;
  width: 0;
  height: 69px;
  transition: all 0.5s ease-out;
}
.menu-wraper .menu .entrees {
  animation: arrivee-entrees 3s ease-in;
}
.menu-wraper .menu .plats {
  animation: arrivee-plats 3s ease-in;
}
.menu-wraper .menu .desserts {
  animation: arrivee-desserts 3s ease-in;
}
.menu-wraper .menu .btn {
  margin: 0 0 40px 0;
}

/*RESPONSIVE*/
@media screen and (min-width: 1280px) {
  .title-section {
    padding-bottom: 30px;
  }
  .title-section h1 {
    width: 645px;
    font-size: 40px;
    line-height: 46.88px;
  }
  .title-section .first-btn {
    margin: 0;
  }
  .fonctionnement {
    display: flex;
    justify-content: center;
    height: 228.38px;
  }
  .fonctionnement .fonctionnement-wrapper {
    display: flex;
    flex-direction: column;
  }
  .fonctionnement .fonctionnement-wrapper h2 {
    width: 1080px;
  }
  .fonctionnement .fonctionnement-wrapper .steps-wrapper {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-left: 0;
    max-width: 1050px;
  }
  .fonctionnement .fonctionnement-wrapper .steps-wrapper .step {
    width: 335px;
  }
  .restaurants {
    height: 700px;
  }
  .restaurants .restaurants-wrapper h2 {
    width: 1080px;
  }
  .restaurants .restaurants-wrapper .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 50px;
    width: 1080px;
  }
  .restaurants .restaurants-wrapper .cards-wrapper a, .restaurants .restaurants-wrapper .cards-wrapper .card {
    width: 490px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    gap: 16px;
    height: 114px;
    padding: 0 25px 0 25px;
  }
  footer .footer-logo {
    padding-right: 42.1px;
    margin-bottom: 30px;
  }
  footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 30px;
  }
  .menu {
    width: 1055px;
  }
  .menu .menu-element {
    width: 634px;
  }
}
@media screen and (max-width: 374px) {
  .fonctionnement-wrapper h2 {
    max-width: 290px;
  }
  .fonctionnement-wrapper .step {
    max-width: 290px;
  }
  .restaurants-wrapper h2 {
    max-width: 290px;
  }
  .restaurants-wrapper .cards-wrapper {
    max-width: 290px;
  }
}/*# sourceMappingURL=style.css.map */