@charset "UTF-8";
/*GENERAL*/
html, body {
  width: 100%;
}

/*VARIABLES*/
:root {
  --primary-color: #9356dc;
  --background: #F6F6F6;
  --grey: #353535;
  --grey2: #EAEAEA;
  --grey-tint-4: #7e7e7e;
  --green: #99E2d0;
  --green-font: #008766;
  --white: #fff;
  --pink-gradient: linear-gradient(#FF79DA -27%, var(--primary-color) 123.93%);
}

/*TYPOGRAPHIE*/
@font-face {
  font-family: "Shrikhand";
  src: url("/assets/font/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("/assets/font/Shrikhand/Shrikhand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto-Bold.woff2") format("woff2"), url("/assets/font/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto-Light.woff2") format("woff2"), url("/assets/font/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto-Medium.woff2") format("woff2"), url("/assets/font/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto-Regular.woff2") format("woff2"), url("/assets/font/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
}

/*CSS RESET*/
body, div, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* ANIMATIONS */
@keyframes pulse {
  0% {
    transform: scale(1); /* echelle initiale */
  }
  50% {
    transform: scale(1.2); /* echelle plus grande */
  }
  100% {
    transform: scale(1); /* retour à l'echelle initiale */
  }
}
@keyframes disappearing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    visibility: hidden;
  }
  100% {
    transform: scale(0);
    visibility: hidden;
  }
}
/* BUTTONS */
.btn {
  width: 186px;
  height: 50px;
  text-align: center;
  margin: 27px 0 57px;
  background: var(--pink-gradient);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.first-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
}

/*ICONES*/
.location-icon {
  color: var(--grey);
}

.steps-icon {
  color: var(--grey-tint-4);
}

.store-icon {
  color: var(--primary-color);
}

.footer-icon {
  color: white;
}

.fa-arrow-left {
  color: var(--grey);
  font-size: 20px;
}

.solid-heart {
  font-size: 23px;
  font-weight: 500;
  background: black;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.solid-heart:hover {
  font-weight: 800;
  background: var(--pink-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.fa-circle-check {
  color: white;
  font-size: 20px;
}

.footer-icon {
  font-size: 13px;
}

/*HEART
.heart {
    position: absolute;
    right: 33px;
    width: 17px;
    height: 24px;

    &::before, &::after {
        position: absolute;
        top: 0;
        content: "";
        background: var(--pink-gradient);
        border-radius: 50px 50px 0 0;
        width: 100%;
        height: 100%;
    }

    &::before {
        left: 17px;
        transform: rotate(-50deg);
        transform-origin: 0 100%;
    }

    &::after {
        left: 0;
        transform: rotate(50deg);
        transform-origin: 100% 100%;
    }
}*/
/*HEADER*/
header .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
header .logo-header {
  width: 162px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .location {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  background-color: var(--grey2);
  align-items: center;
  justify-content: center;
}
header p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--grey);
}
header .go-back {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
}
header .img-header {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*FOOTER*/
footer {
  background-color: var(--grey);
  color: var(--white);
  padding: 22px 25px 22px 25px;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 26.24px;
  font-style: italic;
  padding-bottom: 16px;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-links li {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
}
footer .footer-links .lien-action {
  display: flex;
  gap: 10.08px;
  font-weight: 500;
  width: 190px;
}
footer .footer-links .lien-info {
  font-weight: 400;
  width: 130px;
}
footer a {
  text-decoration: none;
  font-style: normal;
  color: var(--white);
}
footer a:visited {
  color: var(--white);
}

/*HOME*/
section {
  width: 100%;
}

/*TITLES-SECTION*/
.title-section {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-section h1 {
  width: 73%;
  height: 68px;
  margin-top: 39px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.title-section p {
  width: 84%;
  height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: var(--grey);
}

/*SECTION FONCTIONNEMENT*/
.fonctionnement {
  justify-content: center;
  align-items: center;
  height: 440px;
  padding-left: 4.7%;
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 48px 0 26px 0.67%;
}
.fonctionnement .steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 4.7%;
}
.fonctionnement .step {
  display: flex;
  flex-direction: row;
  gap: 23px;
  width: 86%;
  height: 72.38px;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .step .number-step {
  display: flex;
  background-color: var(--primary-color);
  height: 24px;
  width: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-left: -12px;
}
.fonctionnement .step p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

/*RESTAURANTS*/
.restaurants {
  justify-content: center;
  align-items: center;
  height: 1226px;
  background-color: var(--background);
  padding-left: 4.7%;
}
.restaurants h2 {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  padding: 48px 0 23px 0.67%;
}

.cards-wrapper {
  width: 91%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.cards-wrapper a {
  width: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.card .badge {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 13px;
  right: 17.29px;
  display: flex;
  background-color: var(--green);
  color: var(--green-font);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}
.card .img-restaurants {
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 77px;
  padding-left: 16px;
  border-radius: 0 0 15px 15px;
}
.card .card-content .card-text {
  color: black;
}
.card .card-content .card-text h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.card .card-content .card-text p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
.card .card-content .heart {
  padding-right: 25px;
}

/*LOADER*/
.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--grey2);
  z-index: 5;
  animation: disappearing 3s forwards;
}
.loader .loader-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  color: white;
  font-family: "Roboto";
  background-image: var(--pink-gradient);
  background-clip: padding-box, border-box;
  border-radius: 75px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  animation: pulse 2s infinite;
}

/* MENUS */
.menu-wraper {
  display: flex;
  justify-content: center;
  margin-bottom: -55px;
}
.menu-wraper .menu {
  position: relative;
  top: -55px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1055px;
  border-radius: 25px 25px 0 0;
  background-color: var(--background);
  align-items: center;
  padding-top: 35px;
}
.menu-wraper .menu .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 307px;
  font-family: Shrikhand;
}
.menu-wraper .menu .menu-title h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
}
.menu-wraper .menu .menu-element {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 349px;
  max-width: 634px;
  font-family: "Roboto";
}
.menu-wraper .menu .menu-element .titre-niveau {
  position: relative;
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 19px;
}
.menu-wraper .menu .menu-element .titre-niveau::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 27px;
  border-bottom: solid 3px var(--green);
}
.menu-wraper .menu .menu-element .card-wraper {
  position: relative;
  display: flex;
  flex-direction: row;
}
.menu-wraper .menu .menu-element .card-wraper:hover .check {
  visibility: visible;
  width: 59px;
}
.menu-wraper .menu .menu-element .card-wraper:hover .carte-plat {
  padding-right: 74px;
}
.menu-wraper .menu .menu-element .card-wraper .carte-plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 69px;
  border-radius: 15.04px;
  background-color: var(--white);
  padding: 0 15px 0 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  transition: padding-right 0.5s ease;
}
.menu-wraper .menu .menu-element .card-wraper .carte-plat .carte-plat-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.menu-wraper .menu .menu-element .card-wraper .carte-plat .price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.menu-wraper .menu .menu-element .card-wraper .check {
  visibility: hidden;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 0 15.04px 15.04px 0;
  width: 0;
  height: 69px;
  z-index: 5;
  transition: width 0.5s ease;
}
.menu-wraper .menu .btn {
  margin: 0 0 40px 0;
}

/*RESPONSIVE*/
@media screen and (min-width: 1280px) {
  .title-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title-section h1 {
    width: 645px;
    font-size: 40px;
    line-height: 46.88px;
  }
  .title-section .first-btn {
    margin: 0;
  }
  .fonctionnement {
    height: 228.38px;
    padding-left: 180px;
    width: 100%;
  }
  .fonctionnement h2 {
    padding-left: 0;
    width: 275px;
  }
  .fonctionnement .steps-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 0;
    max-width: 1050px;
  }
  .fonctionnement .steps-wrapper .step {
    width: 335px;
  }
  .restaurants {
    padding-left: 180px;
    height: 700px;
  }
  .restaurants h2 {
    width: 268px;
    padding-left: 0;
  }
  .restaurants .cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 50px;
    justify-content: flex-start;
    width: 1080px;
  }
  .restaurants a, .restaurants card {
    width: 490px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    gap: 16px;
    height: 114px;
    padding: 0 25px 0 25px;
  }
  footer h3 {
    padding-bottom: 0;
    padding-right: 42.1px;
    margin-bottom: 30px;
  }
  footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */