/*ICONES*/
.location-icon {
    color: var(--grey);
}
.steps-icon {
    color: var(--grey-tint-4)
}
.store-icon {
    color: var(--primary-color);
}
.footer-icon {
    color: white;
}
.fa-arrow-left {
    color: var(--grey);
}