/*ICONES*/
.location-icon {
    color: var(--grey);
}

.steps-icon {
    color: var(--grey-tint-4)
}

.store-icon {
    color: var(--primary-color);
}

.footer-icon {
    color: white;
}

.fa-arrow-left {
    color: var(--grey);
    font-size: 20px;
}

.hearts-wrap {
    position: relative;
    width: 23px;
    height: 23px;

    &:hover .second-heart {
        font-weight: 800;
        background: var(--inversed-pink-gradient);
        background-clip: text;
        color: transparent;
    }

    &:hover .first-heart {
        opacity: 0;
    }

    .fa-heart {
        font-size: 23px;
        color: black;
    }

    .first-heart {
        position: absolute;
        top: 0;
        transition: all 0.5s ease-out;
    }
}

.fa-circle-check {
    color: white;
    font-size: 20px;
}

.footer-icon {
    font-size: 13px;
}