/*GENERAL*/
html, body {
    width: 100%;
}

/*VARIABLES*/
:root {
    --primary-color: #9356dc;
    --background: #F6F6F6;
    --grey: #353535;
    --grey2: #EAEAEA;
    --grey-tint-4: #7e7e7e;
    --green: #99E2d0;
    --green-font: #008766;
    --white: #fff;
    --pink-gradient: linear-gradient(#FF79DA -27%, var(--primary-color) 123.93%);
    --inversed-pink-gradient: linear-gradient(var(--primary-color) -27%, #FF79DA 123.93%);
}

/*TYPOGRAPHIE*/
    @font-face {
        font-family: 'Shrikhand';
        src: url('/assets/font/Shrikhand/Shrikhand-Regular.woff2') format('woff2'),
             url('/assets/font/Shrikhand/Shrikhand-Regular.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('/assets/font/Roboto/Roboto-Bold.woff2') format('woff2'),
             url('/assets/font/Roboto/Roboto-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/assets/font/Roboto/Roboto-Light.woff2') format('woff2'),
             url('/assets/font/Roboto/Roboto-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/assets/font/Roboto/Roboto-Medium.woff2') format('woff2'),
             url('/assets/font/Roboto/Roboto-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('/assets/font/Roboto/Roboto-Regular.woff2') format('woff2'),
             url('/assets/font/Roboto/Roboto-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    body {
        font-family: 'Roboto';
    }