/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    gap: 17px;
    background-color: var(--grey);
    color: var(--white);
    padding: 22px 25px 22px 25px;

    .footer-logo img {
        width: 100px;
        filter: invert(100%);
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 7px;

        li {
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 19px;
        }
    
        .lien-action {
            display: flex;
            gap: 10.08px;
            font-weight: 500;
            width: 190px;
        }
    
        .lien-info {
            font-weight: 400;
            width: 130px;
        }
    }

    a {
        text-decoration: none;
        font-style: normal;
        color: var(--white);
    }

    a:visited {
        color: var(--white);
    }
}