/*HEADER*/
header {
    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 63px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .logo-header {
        width: 197px;
        height: 36px;
    }

    .location {
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 17px;
        background-color: var(--grey2);
        align-items: center;
        justify-content: center;
    }
    
    p {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: var(--grey);
    }
}

