/*HEADER*/
header {
    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 63px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .logo-header {
        width: 162px;
        height: 36px;
        object-fit: contain;
    }
    .go-back {
        position: absolute;
        top: 17px;
        left: 17px;
        width: 30px;
        height: 30px;
    }
}

