/*RESPONSIVE*/
@media screen and (min-width: 1280px) {
    .title-section {
        padding-bottom: 30px;
        
        h1 {
            width: 645px;
            font-size: 40px;
            line-height: 46.88px;
        }

        .first-btn {
            margin: 0;
        }
    }

    .fonctionnement {
        display: flex;
        justify-content: center;
        height: 228.38px;

        .fonctionnement-wrapper {
            display: flex;
            flex-direction: column;

            h2 {
                width: 1080px;
            }
    
            .steps-wrapper {
                display: flex;
                flex-direction: row;
                gap: 35px;
                padding-left: 0;
                max-width: 1050px;
    
                .step {
                    width: 335px;
                }
            }
        }
    }

    .restaurants {
        height: 700px;

        .restaurants-wrapper {
            
            h2 {
                width: 1080px;
            }
            
            .cards-wrapper {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 100px;
                row-gap: 50px;
                width: 1080px;

                a, .card {
                    width: 490px;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: end;
        gap: 16px;
        height: 114px;
        padding: 0 25px 0 25px;

        .footer-logo {
            padding-right: 42.1px;
            margin-bottom: 30px;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            gap: 7px;
            margin-bottom: 30px;
        }
    }

    .menu {
        width: 1055px;

        .menu-element {
            width: 634px;
        }
    }
}

@media screen and (max-width: 374px) {
    .fonctionnement-wrapper {
        h2 {
            max-width: 290px;
        }
        .step {
            max-width: 290px;
        }
    }

    .restaurants-wrapper {
        h2 {
            max-width: 290px;
        }
        .cards-wrapper {
            max-width: 290px;
        }
    }
}